*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: #272525;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #33333337;
  margin-top: 2.5rem;
  padding: 20px;
}

.form-element,
.form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.form-element input:disabled {
  background: transparent;
  border: 0;
  font-weight: 700;
}

.form-element button {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  width: 70px;
  height: 30px;
  margin-top: 20px;
  align-items: flex-end;
  cursor: pointer;
}

button a {
  color: #fff;
}

button.cancel-btn {
  background-color: #820b0b;
}

button.submit-btn {
  background-color: rgb(3, 67, 18);
}